<!DOCTYPE html>
<html>
  <head>
    <title>User Administration</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>User Administration</h1>
        <a href="/logout" class="btn btn-info">Logout</a>
          <a href="/manage/jobs" class="btn btn-info">Manage Jobs</a>
      </div>
        <p></p>
      <table class="table table-striped table-hover">
        <thead>
          <th>User ID</th>
          <th>Email</th>
          <th>Action</th>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{ this.userId }}</td>
            <td>{{ this.email }}</td>

              <td>
                  <div class="btn-group">
                      <a href="/action/promote/{{this.userId}}"><button class="btn" type="button">Promote</button> </a>
                      <a href="/action/demote/{{this.userId}}"><button class="btn" type="button">Demote</button> </a>
                      <a href="/action/delete/{{this.userId}}"><button class="btn" type="button">Delete</button> </a>
                      <a href="/action/lock/{{this.userId}}"><button class="btn" type="button">Lock</button> </a>
                      <a href="/action/unlock/{{this.userId}}"><button class="btn" type="button">Unlock</button> </a>
                  </div>
              </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>


  </body>
</html>
