<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    {{> recruiterhead}}
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Recruiter Profile</h1>
      </div>
      <div class="well">
        <h2>Recruiter Information</h2>
        <p><strong>User ID</strong>: {{ user.userId }}</p>
        <p><strong>Email</strong>: {{ user.email }}</p>
          <p><strong>Payment Type</strong>: {{ user.autoOrManual }} {{> PaymentTypeModal}}</p>
          <p><strong>Payment Method</strong>: {{ user.paymentMethod }} {{> PaymentMethodModal}}</p>
          <p><strong>Credit Number</strong>: {{ user.creditNo }}{{> CreditNumberModal}}</p>
          <p><strong>Checking Number</strong>: {{ user.checkingNo }}{{> CheckingNumberModal}}</p>
          <p><strong>Monthly fee</strong>: {{ user.monthlyFee }}</p>
          <p><strong>Account Balance</strong>: {{ user.accountBalance }}{{> PaymentModal}}</p>
          <p><strong>Recovery Answer</strong>: {{ user.accountRecoveryAnswer }}{{> RecoveryAnswerModal}}</p>
        <p><strong>Phone Number</strong>: {{ recruiter.phoneNo }}</p>
        <p><strong>Recruiter Category</strong>: {{ recruiter.employerCategory }}{{> recruiterCategoryModal}}</p>
        <p><strong>Number of Jobs Posted</strong>: {{ recruiter.jobPostedCount }}</p>
          <td><a href="/action/delete/{{ recruiter.userId }}">Delete profile<span class="glyphicon glyphicon-trash"></span></a></td>
      </div>

    </div>
  </body>
</html>
