<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    {{> userhead}}
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>User Profile</h1>
        <a href="/logout" class="btn btn-info">Logout</a>
      </div>

      <div class="well">
        <p><strong>User ID</strong>: {{ user.userId }}</p>
        <p><strong>Email</strong>: {{ user.email }}</p>
        <p><strong>Payment Type</strong>: {{ user.autoOrManual }}</p>
        <p><strong>Payment Method</strong>: {{ user.paymentMethod }}</p>
        <p><strong>Credit Number</strong>: {{ user.creditNo }}</p>
        <p><strong>Checking Number</strong>: {{ user.checkingNo }}</p>
        <p><strong>Recovery Answer</strong>: {{ user.accountRecoveryAnswer }}</p>
        <p><strong>Job Seeker Category</strong>: {{ jobseeker.category }}</p>
      </div>
    </div>
  </body>
</html>
