<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    {{> userhead}}
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>User Profile</h1>
      </div>

      <div class="well">
        <p><strong>User ID</strong>: {{ user.userId }}</p>
        <p><strong>Email</strong>: {{ user.email }}</p>
        <p><strong>Payment Type</strong>: {{ user.autoOrManual }} {{> PaymentTypeModal}}</p>
        <p><strong>Payment Method</strong>: {{ user.paymentMethod }} {{> PaymentMethodModal}}</p>
        <p><strong>Credit Number</strong>: {{ user.creditNo }}</p>
        <p><strong>Checking Number</strong>: {{ user.checkingNo }}</p>
          <p><strong>Monthly fee</strong>: {{ user.monthlyFee }}</p>
          <p><strong>Account Balance</strong>: {{ user.accountBalance }}</p>
        <p><strong>Recovery Answer</strong>: {{ user.accountRecoveryAnswer }}</p>
        <p><strong>Job Seeker Category</strong>: {{ jobseeker.category }} {{> userCategoryModal}} </p>
          <p><strong>About me</strong>: {{ jobseeker.profileDescription }}</p>
          <td><a href="/action/delete/{{ user.userId }}">Delete profile<span class="glyphicon glyphicon-trash"></span></a></td>
      </div>
    </div>
  </body>
</html>
